@import url("https://db.onlinewebfonts.com/c/bfebe55cf47703b08114482be40004a2?family=HurmeGeometricSans4+Regular");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HurmeGeometricSans4 Regular";
  src: url("https://db.onlinewebfonts.com/t/bfebe55cf47703b08114482be40004a2.eot");
  src: url("https://db.onlinewebfonts.com/t/bfebe55cf47703b08114482be40004a2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bfebe55cf47703b08114482be40004a2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/bfebe55cf47703b08114482be40004a2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/bfebe55cf47703b08114482be40004a2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/bfebe55cf47703b08114482be40004a2.svg#HurmeGeometricSans4 Regular")format("svg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HurmeGeometricSans4 Regular";
  scroll-behavior: smooth;
  color: white;
}

body {
  background-color: #8992a3;
}

.blue-glassmorphism {
  box-shadow: 0px 5px 9px 6px hsla(230, 92%, 5%, 0.459);
}

.blue-glassmorphism-sm {
  box-shadow: 0px 8px 6px 0px hsla(219, 15%, 27%, 0.623);
}

.custom-scrollbar {
  /* Width and height of the scrollbar track */
  scrollbar-width: thin;
  scrollbar-color: #010518;
}

/* Handle style for WebKit-based browsers (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Handle style on hover */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #010518;
}

/* Track style */
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}